<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.practice.EmpMapper">
    <resultMap id="empResultMap" type="com.ohgiraffers.practice.EmpDTO">
        <id property="empId" column="emp_id"/>
        <result property="empName" column="emp_name"/>
        <result property="empNo" column="emp_no"/>
        <result property="email" column="email"/>
        <result property="phone" column="email"/>
        <result property="deptCode" column="dept_code"/>
        <result property="jobCode" column="job_code"/>
        <result property="salLevel" column="sal_level"/>
        <result property="salary" column="salary"/>
        <result property="bonus" column="bonus"/>
        <result property="managerId" column="manager_id"/>
        <result property="hireDate" column="hire_date"/>
        <result property="entDate" column="ent_date"/>
        <result property="entYn" column="ent_yn"/>
    </resultMap>

    <select id="selectAllEmp" resultMap="empResultMap">
        select
        *
        from
        employee
        order by emp_id
    </select>

    <select id="selectEmpByCode" resultMap="empResultMap">
        select
        *
        from
        employee
        where emp_id = #{ empId }
    </select>

    <select id="selectEmpByName" resultMap="empResultMap">
        select
        *
        from
        employee
        where emp_name = #{ empName }
    </select>

    <insert id="registEmp" parameterType="com.ohgiraffers.practice.EmpDTO">
        insert into employee (
        emp_id,
        emp_name,
        emp_no,
        job_code,
        sal_level
        ) values (
        #{ empId },
        #{ empName },
        #{ empNo },
        #{ jobCode },
        #{ salLevel }
        )
    </insert>

    <update id="modifyEmp" parameterType="com.ohgiraffers.practice.EmpDTO">
        update employee
        set emp_name = #{ empName },
        job_code = #{ jobCode }
        where emp_id = #{ empId }
    </update>

    <delete id="deleteEmp">
        delete
        from employee
        where emp_id = #{ empId }
    </delete>
</mapper>